.container {
  padding: 0rem;
  margin: 0rem;
  background-image: url('/images/34.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.externaltitle {
  padding: 0.0rem;
  margin: 0rem;
  color: #fff;
  line-height: 1.5;
  font-size: 1.5rem;
  text-shadow: 0 1px 0 #ccc,
    0 2px 0 #c9c9c9,
}


@media (max-width: 600px) {
  .grid {
    width: 95%;
    flex-direction: column;
  }
}