.pathsdiv{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #058b09;
  height: 2rem;
}
.pathsIconStyles {
  color: white;
  text-decoration: none;
  font-size: 1.3em;
}

.pathsIconText {
  color: yellow;
  text-decoration: none;
  font-size: 1.0em;
}


/* Small screens */
@media only screen and (max-width: 990px) {
  .pathsdiv {
    display: none;
  }
  .navbarNav {
    flex-direction: row;
  }
}

