@import '~bootstrap/dist/css/bootstrap.min.css';

$font-stack: Helvetica, sans-serif;
$primary-color: #333;
$assetPath :"/images";
$navbar-dark-color:         #1d7551;
body {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
    background: #1d7551;
}

.md-container {
  max-width: 100%;
  padding-top: 1rem;
}